.container-postos {
    margin: 0 auto 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }

  .incluir form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: max-content;
  }

  .incluir form label, input, button{
    margin: 5px;
  }

  .incluir form input{
    height: 42px;
  }

  .listar{
    display: flex;
    flex-direction: column;
  }

  .lista-posto li{
    list-style: none;
    margin: -1px;
    font-size: 18px;
    padding: 3px;
    border: 1px solid #1264ad;
  }

  .lista-posto li img{
    float: right;
    margin-right: 10px;
    transition: transform .1s;
  }

  .lista-posto li img:hover{
    cursor: pointer;
    transform: scale(1.2);
  }