.container-postos {
    margin: 0 auto 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }

  .incluir form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: max-content;
  }

  .incluir form label, input, button{
    margin: 5px;
  }

  .incluir form input{
    height: 42px;
  }