.container-incluir {
  margin: 0 auto 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.container-incluir h1 {
  margin: 200px;
}

.form-incluir form {
  display: flex;
  flex-direction: column;
}

.form-incluir form label {
  font-size: 15px;
  color: #444;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-incluir form input, textarea, text{
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  height: 45px;
}

.form-incluir form textarea{
  height: max-content;
}

.form-incluir select {
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  height: 45px;
}

.form-incluir input#data {
  width: min-content;
}

.form-incluir button.botao {
  border: 0;
  border-radius: 3px;
  height: 42px;
  width: 40%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: #f8a130;
  color: #fff;
}

.form-incluir button.botao:hover {
  background: #f5900c;
}

.sep{
  display: block;
}

.pri{
  float: left;
}
